<app-client-menu></app-client-menu>
<div class="pb-5">
<app-client-menu></app-client-menu>
</div>
<main>
<div class="container pt-5 pb-5">
        <ngb-accordion [closeOthers]="true" activeIds="static-7" class="accordion accordion-danger">
          <ngb-panel id="static-7">
            <ng-template ngbPanelTitle>
  <span>&#9733; <b>Can I buy a home on Homey</b>  &#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                Our focus at Homey is to make the process of searching for a home easier and more enjoyable. However, we are not a brokerage and don't take part in the  home transaction. If you find a home on our site that you are interested in purchasing, we encourage you to enlist the services of a real estate broker or agent. You can use the list of agents located in the contact box of the listing to find brokers and agents in your area that you may want to consider interviewing for the job. 
            </ng-template>
          </ngb-panel>
          <ngb-panel id="static-8">
            <ng-template ngbPanelTitle>
                 <span>&#9733; <b> I can’t sign in to my account</b>  &#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
              If while signing in to your account you see an error message, you can do the following
              <ol class="pl-3 mt-4">
                <li>Check your network connection and try again</li>
                <li>Make sure your account credentials are correct while signing in</li>
                <li>Check whether your account is accessible in your region</li>
              </ol>
              <br>
              <p class="text-success">
                <i class="mdi mdi-alert-octagon mr-2"></i>If the problem persists, you can contact our support <a class="text-primary"><i class="fa fa-at"></i>homey.com</a>
              </p>
            </ng-template>
          </ngb-panel>
         <ngb-panel id="static-9">
            <ng-template ngbPanelTitle>
              <span>&#9733; <b>Where do the listings on Homey come from?</b>  &#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
        Homey receives listing information from brokers, agents, Multiple Listing Services, and web site vendors all across the Ethiopia, especially in Addis Ababa. We have over 2 listings on our site and that number is growing each and every day.   
 <br>
              <p class="text-success">
                <i class="fa fa-thumbs-up mr-2"></i>Most importantly the listing is comes from you
              </p>            
            </ng-template>
          </ngb-panel>
          <ngb-panel id="static-10">
            <ng-template ngbPanelTitle>
                 <span>&#9733; <b>What is Homey?</b>  &#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
        Homey is the place to search for your future home! Our innovative approach to search empowers you to locate the home of your dreams among the many homes for sale on our site. And with unique information like neighborhood reviews and agent recommendations, we give you the inside scoop to help you find the best place to live and connect you with a great agent who can help you close the deal.

We are not a real estate broker, and none of our company funding comes from the real estate industry. We are an independent and unbiased real estate search and advertising site made up of real estate enthusiasts, buyers, and sellers, just like you.              
<br>
              <p class="text-success">
                <i class="mdi mdi-alert-octagon mr-2"></i>We believe that finding a home doesn't have to be frustrating and we are committed to helping you do it with a smile. <i class="fa fa-smile-o" style="color: red"></i>
              </p>
            </ng-template>
          </ngb-panel>
<ngb-panel id="static-11">
            <ng-template ngbPanelTitle>
                <span>&#9733; <b> Can I list a land property for sale or lease?</b> &#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
No. Because the Ethiopian Constitution doesnot support such type of transaction.At this time Homey only includes residential and commercial listings within our search results.             
            </ng-template>
          </ngb-panel>
<ngb-panel id="static-12">
            <ng-template ngbPanelTitle>                 
<span>&#9733; <b> How do I search for homes?</b> &#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
You can search for homes from the home page, or you can search from our search page using search filters. To specify your parameters, click on the filter button and choose your criteria. To save your parameters, click the "Save Search" button on the right. You'll be prompted to name your search.            
            </ng-template>
          </ngb-panel>
<ngb-panel id="static-13">
            <ng-template ngbPanelTitle>   
<span>&#9733; <b>How do I post my home?</b> &#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
 If you want to post your house to our listing , you can do the following
              <ol class="pl-3 mt-4">
                <li>Login to your Homey profile.</li>
                <li>Make sure your account credentials are correct while signing in</li>
                <li>Click the menu "house for Homey" from the side bar</li>
                <li>To add photos, click the Upload photos box</li>
                <li>You will be prompted to select photo files stored on your computer</li>
                <li>OR you can drag and drop the photos from your computer to the box</li>
                <li>After that fill another informations about your house and press the post house button</li>
                <li>Homey team approved or rejected the house you want to post</li>
              </ol>
              <br>
              <p class="text-success">
                <i class="fa fa-thumbs-up mr-2"></i>If the information and the house is legal your house will be listed to Homey listing
              </p>
              <p class="text-danger">
                <i class="fa fa-thumbs-down mr-2"></i>If the information and the house is illegal, fraud or unrealiable your house will not be posted
              </p>         
            </ng-template>
          </ngb-panel>
<ngb-panel id="static-14">
            <ng-template ngbPanelTitle>
                 <span>&#9733; <b>I don’t know much about computers?</b> &#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
Do not worry. Very basic computer knowledge is needed to load and manage your profile, and property data. If you have basic English language knowledge you can see, add to favourites and search property and also you can contact agents by the contact address Homey provided. Once you have registered your account manager will assist you with all your queries. 
              <p class="text-success">
                <i class="fa fa-beer mr-2"></i>Just Relax, open Homey website and find your dream home.
              </p>           
            </ng-template>
          </ngb-panel>
<ngb-panel id="static-15">
            <ng-template ngbPanelTitle>
                 <span>&#9733; <b>Can Homey help with the paperwork?</b> &#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
Yes. If you want help negotiating the ins and outs of the real estate purchase contract, you’re in luck. Homey has licensed real estate attorneys and agents who will walk you through the contract and help you draft your addenda, making sure everything is worded correctly and nothing is missing.        
            </ng-template>
          </ngb-panel>
<ngb-panel id="static-16">
            <ng-template ngbPanelTitle>
              <h6 class="mb-0">
                  <span>&#9733; <b>I have a question that has not been covered by the FAQ. What can I do?</b> &#9733;</span>
              </h6>
            </ng-template>
            <ng-template ngbPanelContent>
Don't worry You can contact us via our contact form the below section.   
            </ng-template>
          </ngb-panel>
<ngb-panel id="static-17">
            <ng-template ngbPanelTitle>
              <h6 class="mb-0">
                  <span>&#9733; <b>Which web browsers do you support?</b> &#9733;</span>
              </h6>
            </ng-template>
            <ng-template ngbPanelContent>
We support the following browsers. Earlier/Other versions may work correctly, however we recommend the ones below to get the most out of our website:
<br>
<ul class="pl-3 mt-4" style="list-style: none;">
<li><i class="fa fa-hand-o-right" style="color: #FFD700"></i> Internet Explorer 8 or higher (Windows Platform only)</li>
<li><i class="fa fa-hand-o-right" style="color: #FFD700"></i> Firefox 12 or higher (Windows, Mac and Linux platforms)</li>
<li><i class="fa fa-hand-o-right" style="color: #FFD700"></i> Safari 5 or higher (Windows, Mac platforms)</li>
<li><i class="fa fa-hand-o-right" style="color: #FFD700"></i> Chrome 21 or higher (Windows, Mac and Linux platforms)</li>   
<li><i class="fa fa-hand-o-right" style="color: #FFD700"></i> And obviously Our website is responsive so you can access Homey by using your mobile</li>
</ul>
            </ng-template>
          </ngb-panel>
<ngb-panel id="static-18">
            <ng-template ngbPanelTitle>
                  <span>&#9733; <b>How Can I Contact agents?</b> &#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
You can contact agents that listed in the house you want with the contact information provided with them. But if you have your agent you can use your agents or go to the address that your dream house listed and contact the vendor yourself without an agent.
<br>
  <p class="text-success">
                <i class="fa fa-lightbulb-o mr-2"></i>Homey agents are legal and have many years experiance in the business.
              </p>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
</div>
</main>
<app-footer-main></app-footer-main>
