<div class="container">
    <div *ngIf="mainErrorMessage">
            <p class="alert alert-{{ mainErrorMessage.type }}">{{ mainErrorMessage.message }}</p>
    </div>
    <p>{{userService.currentUser.user.email}} 
      <input type="text" placeholder="New Password" name="pass" ngModel #pass="ngModel" >
    <a (click)="changePass(userService.currentUser.user._id, pass.value)" href="javascript:void(0)" class="btn btn-success btn-rounded">CHANGE PASSWORD <i class="fa fa-refresh"></i></a>  
    </p>
</div>
