

<div class="row">
<div class="col-md-4 grid-margin stretch-card" *ngFor="let house of houses">
  <div class="card" >
    <img class="card-img-top" src="{{commonService.base_url}}/house/showGFSImage/{{ house.house_id.images[0] }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><i class="mdi mdi-phone"></i>{{house.user_id.phoneNo}}</h5>
        <p class="card-text">{{house.user_id.fname}} {{house.user_id.lname}}</p>
      <p class="card-text">{{house.user_id.email}}</p>
      <p class="card-text">{{house.house_id.address}}</p>
      <p class="card-text"><small class="text-muted">For {{house.house_id.houseFor}}, {{getFormattedDate(house.createdOn)}}</small></p>
       <button (click)="markAsSeen(house?._id, house.Seen)"
            class="btn btn-success btn-sm btn-rounded"><small><i class="mdi mdi-eye-off"></i>
              Seen</small></button>
              &nbsp;
       <a [routerLink]="['/realtor/send-email', house._id]" class="btn btn-info btn-sm btn-rounded"><i class="fa fa-paper-plane-o"></i>SendEmail</a>
    </div>
  </div>
</div>
</div>

