<label>Search</label>
<input type="text" [(ngModel)]="searchTxt" class="form-control" name="searchTxt" placeholder="search name">

<table class="table table-hover table-bordered" [mfData]="states | search:searchTxt" #mf="mfDataTable" [mfRowsOnPage]="5">
<thead>
<tr>
     <th style="width: 20%">
          <mfDefaultSorter by="name">Name</mfDefaultSorter>
      </th>
      <th style="width: 50%">
          <mfDefaultSorter by="is_active">Is Active</mfDefaultSorter>
      </th>
      <th style="width: 10%">
          <mfDefaultSorter by="created_on">Created On</mfDefaultSorter>
      </th>
      <th style="width: 20%">
          <mfDefaultSorter by="action">Action</mfDefaultSorter>
      </th>
</tr>
</thead>

<tbody>
    <tr *ngFor="let state of mf.data">
    <ng-container *ngIf="state == -1">
          <td colspan="4" align="center">No Data Found</td>
        </ng-container>
          <ng-container *ngIf="state!=-1">
     <td>{{ state.name }}</td>
     <td>{{ state.is_active }}</td>
     <td>{{ getFormattedDate(state.created_on) }}</td>
          <td><a (click) = "deleteState(state._id)" class="btn btn-danger btn-rounded"><i class="mdi mdi-delete" style="color: #800000"></i>Delete</a></td> 
          </ng-container>
   </tr>
 </tbody>
 <tfoot>
  <tr>
      <td colspan="4">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
  </tr>
  </tfoot>
</table>
