<div class="container">
    <div *ngIf="mainErrorMessage">
            <p class="alert alert-{{ mainErrorMessage.type }}">{{ mainErrorMessage.message }}</p>
    </div>
    <p>{{userService.currentUser.user.email}} 
      <input type="text" placeholder="confirmation" name="confirmed" ngModel #confirmed="ngModel" >
    <a (click)="ConfirmPassword(userService.currentUser.user._id, confirmed.value)" href="javascript:void(0)" class="btn btn-success btn-rounded">CONFIRM PASSWORD <i class="fa fa-refresh"></i></a>  
    </p>
</div>
