<footer class="page-footer font-small mdb-color pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Homey</h6>
          <p>Homey is an all-in-one real estate site  you the local scoop about homes for sale, apartments for rent, neighborhood insights, markets and trends to help you figure out exactly what, where, and when to buy, sell or rent. You can also find a real estate agent, view prices of recently sold homes, and see home values in your community. Get advice and opinions from local real estate agents, brokers, and other local experts , Homey's online real estate community. <a style="color: red"> Learn more about us</a></p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">About</h6>
          <p>
            <a href="#!">About Us</a>
          </p>
          <p>
            <a href="#!">About Vendors</a>
          </p>
          <p>
            <a href="#!">News Room</a>
          </p>
          <p>
            <a href="#!">FAQs</a>
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
          <p>
            <a href="#!">Addis Ababa Branch</a>
          </p>
          <p>
            <a href="#!">Buyi Branch</a>
          </p>
          <p>
            <a href="#!">Eteya Branch</a>
          </p>
          <p>
            <a href="#!">Arsi Negele Branch</a>
          </p>
        </div>

        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
          <p>
            <i class="fa fa-home mr-3"></i> Addis Ababa, AA , ETH</p>
          <p>
            <i class="fa fa-envelope mr-3"></i> homey@gmail.com</p>
          <p>
            <i class="fa fa-phone mr-3"></i> + 251 9 15 80 32 11</p>
          <p>
            <i class="fa fa-print mr-3"></i> + 251 9 28 68 81 36</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Footer links -->

      <hr>

      <!-- Grid row -->
      <div class="row d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-7 col-lg-8">

          <!--Copyright-->
          <p class="text-center text-md-left">© 2019 Copyright:
            <a href="https://homey.com">
              <strong> Homey.com</strong>
            </a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">

          <!-- Social buttons -->
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a class="btn-floating btn-sm btn-fb btn-rounded rgba-white-slight mx-1">
                  <i class="fa fa-facebook-f" style="color: blue"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm btn-tw btn-rounded rgba-white-slight mx-1">
                  <i class="fa fa-twitter" style="color: #1DA1F2"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm btn-gplus btn-rounded rgba-white-slight mx-1">
                  <i class="fa fa-google-plus" style="color: red"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm btn-li btn-rounded rgba-white-slight mx-1">
                  <i class="fa fa-linkedin" style="color: #0077B5"></i>
                </a>
              </li>
            </ul>
          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

  </footer>
  <!-- Footer -->
