<div class="pb-5">
<app-client-menu></app-client-menu>
</div>
<main>
<div class="container pt-5 pb-5">
<h3 class="text-center text-denger">Loan Calculator</h3>
<div class="container border-main border-box-manage card">
 <form>
  <div class="form-group">
  <label for="">Amount of the Loan(฿)</label>
   <input type="number" min="0" (keyup)="loan(); total(); totalinterest()" [(ngModel)]="loanData.amount"  name="amount" required placeholder="Enter the loan amount in birr" class="form-control form-field-small">
</div>
 <div class="form-group">
  <label for="">Annual Interest(%)</label>
   <input type="number" min="0" (keyup)="loan(); total(); totalinterest()" [(ngModel)]="loanData.apr" name="apr" required placeholder="Enter the Annual intrest in percent" class="form-control form-field-small">
</div>
<div class="col-md-6">
  <p>For instance for Zemen bank it is 5.6% , for Dashen bank it is 5.5% and for Abyssinia bank it is 5%</p>
</div>
<div class="form-group">
<label for="">Repayment period(years)</label>
   <input type="number" min="0" (keyup)="loan(); total(); totalinterest()" [(ngModel)]="loanData.years" name="years" required placeholder="Enter the Repayment period in years" class="form-control form-field-small">
</div>
<div class="row">
<div class="col-md-6">
<label for="">Monthly Payment</label>
  <h3 *ngIf="loanData.amount && loanData.apr && loanData.years"> Birr  {{ loan }} </h3>
<label for="">Total Payment</label>
  <h3 *ngIf="loanData.amount && loanData.apr && loanData.years"> Birr  {{ total }} </h3>
<label for="">Total Interest</label>
  <h3 *ngIf="loanData.amount && loanData.apr && loanData.years"> Birr  {{ totalinterest }} </h3>
</div>
<div class="col-md-6">
  <canvas baseChart
              [data]="[loan, total, totalinterest]"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"></canvas>
</div>
</div>
</form>
</div>
</div>
</main>
<app-footer-main></app-footer-main>
