<div class="homey-modal" style="border-radius: 500px">
<div class="modal-header">
 <h4 class="modal-title">Rating Criterias</h4>
 <button type="button" class="close" aria-label="Close" (click)="activateModal.dismiss('Cross click')">
 <span aria-hidden="true">&times;</span>
 </button>
 </div>
 <div class="modal-body">
  <h5>Rating Parameters</h5>
  <ul class="pl-3 mt-4" style="list-style: none;">
<li><i class="fa fa-hand-o-right" style="color: #FFD700"></i>Number of Schools</li>
<li><i class="fa fa-hand-o-right" style="color: #FFD700"></i>Number of Hospitals</li>
<li><i class="fa fa-hand-o-right" style="color: #FFD700"></i>Number of Police Stations</li>
<li><i class="fa fa-hand-o-right" style="color: #FFD700"></i>Its Age</li>   
<li><i class="fa fa-hand-o-right" style="color: #FFD700"></i>Number of Shops</li>
<li><i class="fa fa-hand-o-right" style="color: #FFD700"></i>Is it safe environment or not</li>
<li><i class="fa fa-hand-o-right" style="color: #FFD700"></i>Current status of the house</li>
<li style="color: red"><i class="fa fa-hand-o-right" style="color: red"></i>This parameters are homey standards we don't take any risk<i class="fa fa-hand-o-left" style="color: red"></i></li>
</ul>
<h5>Rating Numbers</h5>
 <ul class="pl-3 mt-4" style="list-style: none;">
<li><i class="fa fa-hand-o-right" style="color: green"></i>10-A perfect house</li>
<li><i class="fa fa-hand-o-right" style="color: green"></i>9-A good house</li>
<li><i class="fa fa-hand-o-right" style="color: green"></i>7-A fair house</li>
<li><i class="fa fa-hand-o-right" style="color: green"></i>4-Need attention</li> 
 </ul>
  </div>
  </div>
